:root {
  --primary-clr: #4e7141;
  --secondary-clr: #333467;
  --tertiary-clr: #f26f21;
  --white-clr: #fff;
  --radius-value: 5px;
  --text-color: #000;
  --font-name: arial, helvetica, sans-serif;
  --line-height: 1.5rem;
  --font-weight: 500;
  --background-code-clr: #ffffff;
  --box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}

/* Responsible for navigatie bar */

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-clr);
  box-shadow: var(--box-shadow);
  color: var(--secondary-clr);
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0 3rem 0 3rem;
}

/* Logo */
.top-nav img {
  display: inline-block;
  max-width: 9rem;
}

.top-nav a,
.top-nav li {
  text-decoration: none;
  list-style-type: none;
}

/* NAVBAR LIST  */
.top-nav-li {
  display: flex;
  gap: 1rem;
  margin: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-clr);
}

.top-nav-li a:hover {
  color: var(--primary-clr);
  transition: 0.3s ease;
}

/* Responsible for active state in the top-nav */
.nav-active {
  color: var(--primary-clr);
}

/* MAIN */

.main-container {
  padding: 8rem 3rem 0 3rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  margin: 0 auto;
  display: flex;
}

/* ASIDE FILTER NAV */

.filter-nav {
  width: 300px;
  height: 700px;
  border-radius: var(--radius-value);
  border: 1px solid #bacbb1;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.15);
}

.filter-nav h1 {
  font-size: 22px;
  color: var(--primary-clr);
  margin: 2rem;
}

.filter-inner {
  position: relative;
  max-width: 320px;
  width: 80%;
  background-color: rgba(33, 77, 18, 0.12);
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
  color: var(--primary-clr);
  border-radius: var(--radius-value);
  margin: 1rem auto;
}

.select-btn {
  justify-content: space-between;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 16px;
  border-radius: var(--radius-value);
  cursor: pointer;
  background-color: #fff;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
}

.select-btn .btn-text {
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-clr);
}

.select-btn .arrow-dwn {
  display: flex;
  height: 21px;
  width: 21px;
  color: var(--primary-clr);
  font-size: 14px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.select-btn.open .arrow-dwn {
  /* add after javascript coding */
  transform: rotate(-180deg);
}

/* FILTER CHECKBOX */

.list-items {
  position: relative;
  margin-top: 15px;
  border-radius: var(--radius-value);
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.select-btn.open ~ .list-items {
  display: block;
}

.list-items .item {
  align-items: center;
  display: flex;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: var(--radius-value);
}

.list-items .item:hover {
  background-color: var(--background-code-clr);
}

.item label {
  font-size: 16px;
  font-weight: 400;
  color: #2c4c1b;
}

.item input {
  height: 16px;
  width: 16px;
  border-radius: var(--radius-value);
  border: 1.5px solid #2c4c1b;
  display: flex;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  transform: all 0.3s ease-in-out;
  accent-color: var(--primary-clr);
}

/* if checkbox is checked show display none in Js */

.checkbox .check-icon {
  color: var(--white-clr);
  font-size: 11px;
  transform: scale(0);
  transform: all 0.3s ease-in-out;
}

/* Responsible for the display js checkbox selector click function */
.card-plant.active {
  display: block;
}

.easy {
  display: none;
}

.hard {
  display: none;
}

/* Responsible for the card plants */

.section-plant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 2rem;
  gap: 1.5rem;
}

.card-plant {
  position: relative;
  overflow: hidden;
  height: 350px;
  width: 31%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: var(--radius-value);
}

.card-plant-overlay {
  background-color: rgba(33, 77, 18, 0.8);
  position: absolute;
  bottom: -5rem;
  width: 100%;
  height: 15rem;
  transition: all 0.3s ease;
}

.card-plant-overlay:hover {
  bottom: 0;
}
/* Responsible for the content inner card */
.card-plant-content {
  align-items: center;
  color: #fff;
  padding: 20px 20px;
  line-height: 2rem;
}

.card-plant-content h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.card-plant-content p {
  font-size: 20px;
}

.card-plant-icon img {
  width: 1, 5em;
  height: 1, 5em;
  position: absolute;
}

.card-plant-icon > p {
  padding-left: 3rem;
  padding-bottom: 0.7rem;
  font-weight: bold;
}

.card-plant a {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
}
/* Responsible for the card butten */

/* BUTTON */
.card-plant-btn {
  align-items: center;
  background-color: var(--background-code-clr);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #2c4c1b;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  justify-content: center;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
}

.card-plant-btn:hover,
.card-plant-btn:focus {
  transform: translateY(-0.25em);
  transition: all 0.25s;
  box-shadow: var(--box-shadow);
}

/* FOOTER */

.ft-section {
  margin-top: 2rem;
  width: 100%;
  height: 20rem;
  background-color: rgb(255, 255, 255);
  color: #2c4c1b;
  font-weight: bold;
  line-height: 1.5rem;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
}

.ft-section-rows {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4rem;
}

.ft-section-item {
  padding-left: 4rem;
  list-style: none;
  line-height: 2rem;
}

.ft-section-item img {
  padding: 3rem;
}

.ft-section-item li > a {
  text-decoration: none;
  color: var(--primary-clr);
  border-bottom: 1px solid #e6ecea;
  line-height: 2rem;
}

.ft-section-item li > a:hover {
  border-bottom: 1px solid #828785;
}

.ft-section-item p {
  color: #96ac8a;
  font-weight: normal;
}

/* Responsible for the location */
